# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.utenaracingschool.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mseduikis\source\repos\utenaracingschool\.idea\.idea.utenaracingschool.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
